# Created by .ignore support plugin (hsz.mobi)
### GitBook template
# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

.gitignore
system/integratedManagementSystem.log.*.gz
/IntegratedManagementSystem.iml
/system/system.iml
/.idea/compiler.xml
/core/core.iml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/libraries/Maven__antlr_antlr_2_7_7.xml
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
/.idea/libraries/Maven__com_alibaba_druid_1_2_6.xml
/.idea/libraries/Maven__com_alibaba_druid_spring_boot_starter_1_2_6.xml
/.idea/libraries/Maven__com_alibaba_fastjson_1_2_76.xml
/.idea/libraries/Maven__com_baomidou_mybatis_plus_3_4_2.xml
/.idea/libraries/Maven__com_baomidou_mybatis_plus_annotation_3_4_2.xml
/.idea/libraries/Maven__com_baomidou_mybatis_plus_boot_starter_3_4_2.xml
/.idea/libraries/Maven__com_baomidou_mybatis_plus_core_3_4_2.xml
/.idea/libraries/Maven__com_baomidou_mybatis_plus_extension_3_4_2.xml
/.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_11_4.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_11_4.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_11_4.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_11_4.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_11_4.xml
/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_11_4.xml
/.idea/libraries/Maven__com_github_jsqlparser_jsqlparser_4_0.xml
/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml
/.idea/libraries/Maven__com_sun_activation_jakarta_activation_1_2_2.xml
/.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_12.xml
/.idea/libraries/Maven__com_sun_mail_javax_mail_1_6_2.xml
/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/.idea/libraries/Maven__com_zaxxer_HikariCP_3_4_5.xml
/.idea/libraries/Maven__io_github_classgraph_classgraph_4_8_83.xml
/.idea/libraries/Maven__io_jsonwebtoken_jjwt_api_0_11_2.xml
/.idea/libraries/Maven__io_jsonwebtoken_jjwt_impl_0_11_2.xml
/.idea/libraries/Maven__io_jsonwebtoken_jjwt_jackson_0_11_2.xml
/.idea/libraries/Maven__io_springfox_springfox_bean_validators_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_boot_starter_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_core_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_data_rest_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_oas_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_schema_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_spi_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_spring_web_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_spring_webflux_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_spring_webmvc_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_swagger2_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_swagger_common_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_swagger_ui_3_0_0.xml
/.idea/libraries/Maven__io_swagger_core_v3_swagger_annotations_2_1_2.xml
/.idea/libraries/Maven__io_swagger_core_v3_swagger_models_2_1_2.xml
/.idea/libraries/Maven__io_swagger_swagger_annotations_1_5_20.xml
/.idea/libraries/Maven__io_swagger_swagger_models_1_5_20.xml
/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/.idea/libraries/Maven__jakarta_persistence_jakarta_persistence_api_2_2_3.xml
/.idea/libraries/Maven__jakarta_servlet_jakarta_servlet_api_4_0_4.xml
/.idea/libraries/Maven__jakarta_transaction_jakarta_transaction_api_1_3_3.xml
/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_2.xml
/.idea/libraries/Maven__jakarta_websocket_jakarta_websocket_api_1_1_2.xml
/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
/.idea/libraries/Maven__javax_activation_activation_1_1.xml
/.idea/libraries/Maven__log4j_log4j_1_2_17.xml
/.idea/libraries/Maven__mysql_mysql_connector_java_8_0_25.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_22.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_10_22.xml
/.idea/libraries/Maven__net_minidev_accessors_smart_1_2.xml
/.idea/libraries/Maven__net_minidev_json_smart_2_3.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_12_0.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_13_3.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_13_3.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_6.xml
/.idea/libraries/Maven__org_assertj_assertj_core_3_18_1.xml
/.idea/libraries/Maven__org_dom4j_dom4j_2_1_3.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_annotations_9_4_39_v20210325.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_client_9_4_39_v20210325.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_continuation_9_4_39_v20210325.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_http_9_4_39_v20210325.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_io_9_4_39_v20210325.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_plus_9_4_39_v20210325.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_security_9_4_39_v20210325.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_server_9_4_39_v20210325.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_servlet_9_4_39_v20210325.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_servlets_9_4_39_v20210325.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_util_9_4_39_v20210325.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_util_ajax_9_4_39_v20210325.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_webapp_9_4_39_v20210325.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_xml_9_4_39_v20210325.xml
/.idea/libraries/Maven__org_eclipse_jetty_websocket_javax_websocket_client_impl_9_4_39_v20210325.xml
/.idea/libraries/Maven__org_eclipse_jetty_websocket_javax_websocket_server_impl_9_4_39_v20210325.xml
/.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_api_9_4_39_v20210325.xml
/.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_client_9_4_39_v20210325.xml
/.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_common_9_4_39_v20210325.xml
/.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_server_9_4_39_v20210325.xml
/.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_servlet_9_4_39_v20210325.xml
/.idea/libraries/Maven__org_glassfish_jakarta_el_3_0_3.xml
/.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_4.xml
/.idea/libraries/Maven__org_glassfish_jaxb_txw2_2_3_4.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
/.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_1_2_Final.xml
/.idea/libraries/Maven__org_hibernate_hibernate_core_5_4_30_Final.xml
/.idea/libraries/Maven__org_hibernate_validator_hibernate_validator_6_1_7_Final.xml
/.idea/libraries/Maven__org_javassist_javassist_3_27_0_GA.xml
/.idea/libraries/Maven__org_jboss_jandex_2_2_3_Final.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_1_Final.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_7_1.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_7_1.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_7_1.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_7_1.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_7_1.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_7_1.xml
/.idea/libraries/Maven__org_mapstruct_mapstruct_1_3_1_Final.xml
/.idea/libraries/Maven__org_mockito_mockito_core_3_6_28.xml
/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_3_6_28.xml
/.idea/libraries/Maven__org_mybatis_mybatis_3_5_6.xml
/.idea/libraries/Maven__org_mybatis_mybatis_spring_2_0_5.xml
/.idea/libraries/Maven__org_objenesis_objenesis_3_1.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/libraries/Maven__org_ow2_asm_asm_9_0.xml
/.idea/libraries/Maven__org_ow2_asm_asm_analysis_9_0.xml
/.idea/libraries/Maven__org_ow2_asm_asm_commons_9_0.xml
/.idea/libraries/Maven__org_ow2_asm_asm_tree_9_0.xml
/.idea/libraries/Maven__org_projectlombok_lombok_1_18_20.xml
/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
/.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_30.xml
/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_30.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml
/.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_30.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_4_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_4_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_devtools_2_4_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_4_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_2_4_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jpa_2_4_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_2_4_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jetty_2_4_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_4_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_log4j_1_3_8_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_4_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_security_2_4_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_4_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_validation_2_4_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_4_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_4_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_4_5.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_commons_2_4_8.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_jpa_2_4_8.xml
/.idea/libraries/Maven__org_springframework_plugin_spring_plugin_core_2_0_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_plugin_spring_plugin_metadata_2_0_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_config_5_4_6.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_core_5_4_6.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_web_5_4_6.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_3_6.xml
/.idea/libraries/Maven__org_springframework_spring_aspects_5_3_6.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_3_6.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_3_6.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_3_6.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_3_6.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_6.xml
/.idea/libraries/Maven__org_springframework_spring_jdbc_5_3_6.xml
/.idea/libraries/Maven__org_springframework_spring_orm_5_3_6.xml
/.idea/libraries/Maven__org_springframework_spring_test_5_3_6.xml
/.idea/libraries/Maven__org_springframework_spring_tx_5_3_6.xml
/.idea/libraries/Maven__org_springframework_spring_web_5_3_6.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_5_3_6.xml
/.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_7_0.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_27.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
