<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zongshuo.mapper.DictDataMapper">
    <!--分页查询字典项信息-->
    <select id="selectPage" parameterType="com.zongshuo.annotation.util.PageParam" resultType="com.zongshuo.model.DictDataModel">
        select a.* from sys_dict_data a
        <where>
            1=1
            <if test="page != null and page.params != null">
                <if test="page.params.dictId != null">
                    and a.dict_id = #{page.params.dictId}
                </if>
                <if test="page.params.code != null and page.params.code != ''">
                    and a.code like CONCAT('%', #{page.params.code}, '%')
                </if>
                <if test="page.params.name != null and page.params.name != ''">
                    and a.name like CONCAT('%', #{page.params.name}, '%')
                </if>
            </if>
        </where>
    </select>
</mapper>