<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zongshuo.mapper.MenuMapper">
    <!--根据角色列表获取拥有的所有菜单-->
    <select id="getMenusByRoleIds" parameterType="java.util.List" resultType="com.zongshuo.model.MenuModel">
        select a.*
        from sys_menu a
        left join sys_role_menu b on a.id = b.menu_id
        <where>
            b.role_id in
            <foreach collection="roles" open="(" close=")" separator="," item="role">
               #{role.id}
            </foreach>
        </where>
    </select>

    <!-- 根据用户编号获取用户能访问的菜单-->
    <select id="getMenusByUserId"  parameterType="java.lang.Integer" resultType="com.zongshuo.model.MenuModel">
         select a.* from sys_menu a
         left join sys_role_menu b on a.id = b.menu_id
         left join sys_user_role c on b.role_id = c.role_id
         where c.user_id = #{userId} and a.type in(0, 1)
         order by a.parent, a.sort_number
    </select>

    <!-- 根据用户编号获取用户权限-->
    <select id="getAuthsByUserId"  parameterType="java.lang.Integer" resultType="com.zongshuo.model.MenuModel">
         select a.id, a.authority from sys_menu a
         left join sys_role_menu b on a.id = b.menu_id
         left join sys_user_role c on b.role_id = c.role_id
         where c.user_id = #{userId}
    </select>

    <update id="mergeAccessPoint" parameterType="com.zongshuo.model.MenuModel">
        merge into sys_menu a
        using(select authority)
    </update>

</mapper>