<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zongshuo.mapper.OrganizationPersonMapper">
    <!--分页查询组织人员列表-->
    <select id="selectPage" parameterType="com.zongshuo.annotation.util.PageParam" resultType="com.zongshuo.model.UserModel">
        select a.id, a.nick_name, a.username, b.create_time
        from sys_user a right join sys_org_person b on a.id = b.user_id
        <if test="page != null and page.params != null">
            where
            1=1
            <if test="page.params.orgId != null">
                and b.org_id = #{page.params.orgId}
            </if>
            <if test="page.params.nickName != null and page.params.nickName != ''">
                and a.nick_name like concat('%',#{page.params.nickName},'%')
            </if>
            <if test="page.params.username != null and page.params.username != ''">
                and a.username like concat('%',#{page.params.username},'%')
            </if>
        </if>
    </select>
</mapper>